[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hbsae"]
	path = hbsae
	url = https://github.com/cran/hbsae
[submodule "mcmcsae"]
	path = mcmcsae
	url = https://github.com/cran/mcmcsae
